* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: rgb(216, 216, 216);
  overflow: visible;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  position: relative;
  width: 65px;
  height: 65px;
  /* border: 3px solid white; */
  transition: all 500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  width: 100%;
  height: 7px;
  background-color: aliceblue;
  border-radius: 6px;
  position: relative;
}

.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: aliceblue;
  border-radius: 6px;
  transition: all 500ms ease;
}

.hamburger::before {
  transform: translateY(-18px);
}

.hamburger::after {
  transform: translateY(18px);
}

.open .hamburger {
  transform: translateX(-50px);
  background: transparent;
  transition: all 0.5s ease;
}

.open .hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px) ;
}
