* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: rgb(216, 216, 216);
  overflow: visible;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.logo{
  align-self: self-start;
}

nav {
 display: flex;
 padding: 1rem 4rem;
 justify-content: space-between;
}

ul {
  display: flex;
  gap: 30px;
}

li {
  list-style: none;
  font-size: large;
  font-weight: 500;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo{
    display: none;
  }
  nav{
    width: 100%;
    height: 50px;
    justify-content: end;
  }

  ul {
    /* justify-self: end; */
    flex-direction: column;    
  }

  li {
    list-style: none;
    /* padding: 10px 0px; */
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
