* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: rgb(216, 216, 216);
  overflow: visible;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.btn {
  font-size: 20px;
  margin: 8px;
  padding: 0.8em 1.6em;
  border-radius: 4px;
  background-color: coral;
  border: none;
  color: aliceblue;
  font-size: 24px;
  font-weight: 500;
}
